@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --text-color: #1c1b20;
    --col-0: #e1e6de; /* 225, 230, 222 */
    --col-1: #CAD2C5; /* 202, 210, 197 */
    --col-2: #84A98C; /* 132, 169, 140 */
    --col-3: #52796F; /* 82, 121, 111 */
    --col-4: #354F52; /* 53, 79, 82 */
    --col-5: #2F3E46;
    --red: #ca5638;
    --yellow: #f8b77a;
}

::-moz-selection {
    background: var(--col-2);
    color: white;
}

::selection {
    background: var(--col-2);
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 100px var(--col-0) inset !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    min-height: 400px;
    height: 100vh;
    font-family: Poppins;
    color: var(--text-color);
    overflow-x: hidden;
}

.green-bg {
    background-color: var(--col-1);
    transition: 0.5s;
}

a {
    transition: 0.5s;
    cursor: pointer;
}

a:hover {
    transition: 0.5s;
    opacity: 0.8;
}

h1 {
    color: var(--col-4);
}

p {
    font-size: calc(10px + 0.5vw);
}

#back-to-top {
    color: var(--text-color);
    text-decoration: none;
    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    bottom: calc(20px + 1vw);
    right: calc(20px + 1vw);
    font-size: calc(20px + 1vw);
    z-index: 9999;
    transition: 0.5s;
}

#back-to-top.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

#back-to-top:hover {
    color: var(--col-4);
    bottom: calc(20px + 1.5vw);
    transform: scale(1.05);
    transition: 0.5s;
}

header {
    position: relative;
    background-color: var(--col-1);
    padding: calc(20px + 5vw);
    width: 100%;
}

#github {
    display: inline-block;
    float: right;
    font-size: calc(12px + 0.6vw);
    font-family: monospace;
    background-color: var(--text-color);
    padding: calc(5px + 0.5vw) calc(10px + 1vw);
    width: auto;
    color: white;
    border-radius: calc(16px + 1vw);
}

#github i {
    color: white;
}

#input {
    padding-top: 10px;
}

textarea {
    resize: vertical;
}

.form-group label {
    color: var(--col-5);
    font-weight: 600;
}

.form-control {
    color: var(--text-color) !important;
    font-size: calc(10px + 0.6vw);
    font-family: monospace;
    padding: calc(4px + 0.2vw) calc(8px + 0.2vw) !important;
    width: 100%;
    margin-top: calc(2px + 0.2vw);
    transition: 0.5s;
    border: 1px solid var(--col-1) !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: calc(5px + 0.5vw);
}

.form-control:active, .form-control:focus {
    border-color: var(--col-3) !important;
    transition: 0.5s;
}

#submit-button {
    display: inline-block;
    font-size: calc(12px + 0.6vw);
    font-family: monospace;
    background-color: var(--text-color);
    padding: calc(5px + 0.5vw) calc(20px + 1vw);
    width: auto;
    color: white;
    border-radius: calc(16px + 1vw);
    cursor: pointer;
    background-color: var(--col-4);
    outline: none;
    border: none;
    transition: 0.5s;
}

#submit-button:hover {
    opacity: 0.8;
    transition: 0.5s;
}

#see-matches {
    position: absolute;
    bottom: calc(10px + 1vw);
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    font-size: calc(10px + 0.5vw);
    z-index: 1;
    transition: 0.5s;
}

#see-matches.active {
    color: white;
    text-decoration: underline;
    letter-spacing: 2px;
}

#go-down {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#arrow {
    height: calc(36px + 2vw);
    line-height: calc(36px + 2vw);
    width: calc(36px + 2vw);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    bottom: calc(-20px - 1vw);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--col-1);
    font-size: calc(24px + 1vw) !important;
    color: var(--text-color);
    transition: 0.5s;
}

#arrow:hover {
    opacity: 1;
    color: white;
}

#arrow:hover + #see-matches {
    letter-spacing: 2px;
}

.smooth-trans {
    transition: 0.5s;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#spin {
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.9);
    text-align: center;
    transition: 0.5s;
}

.loader {
    margin: auto;
    margin-top: calc(50vh - 60px);
    border: 16px solid var(--col-0);
    border-radius: 50%;
    border-top: 16px solid var(--col-2);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    transition: 0.5s;
}

#key {
    position: fixed;
    z-index: 999;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    right: 0;
    top: calc(20px + 1vw);
    padding: calc(10px + 1vw);
    background-color: rgba(225, 230, 222, 0.7);
    width: auto;
    display: inline-block;
    transition: 0.5s;
}

#key.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

#key h5 {
    font-family: monospace;
    font-size: calc(12px + 0.2vw);
    font-weight: 400;
}

#key span {
    margin-right: 15px;
    font-weight: 600;
}

#results {
    column-count: 2;
    column-gap: 50px;
    padding: calc(20px + 3vw) calc(20px + 5vw);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@media only screen and (max-width: 980px) {
    #results {
        column-count: 1;
    }
}

#results h2 {
    padding-bottom: 10px;
}

#results h3 {
    padding-bottom: 5px;
}

#switch {
    text-align: center;
}

.toggle {
    cursor: pointer;
    border: 3px solid var(--text-color);
    opacity: 0.5;
    outline: none;
    border-radius: calc(16px + 1vw) 0 0 calc(16px + 1vw);
    font-family: monospace;
    background-color: transparent;
    padding: calc(4px + 0.5vw) calc(8px + 1vw);
    transition: 0.5s;
}

.toggle:hover {
    border-color: var(--col-4);
    color:  var(--col-4);
    opacity: 0.8;
}

.toggle.active {
    background-color: var(--col-4);
    border-color: var(--col-4);
    color: white;
    opacity: 1;
    pointer-events: none;
}

.toggle.right {
    border-radius: 0 calc(16px + 1vw) calc(16px + 1vw) 0;
}

#graph {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#stats-container {
    padding: 20px 30px;
    border: 3px solid var(--col-1);
    margin-bottom: 20px;
}

#stats {
    column-gap: 20px;
    column-count: 2;
}

#matches {
    display: inline-block;
}

#matches div, #stats div {
    font-family: monospace;
    font-size: large;
    font-weight: 300;
}

#matches div:not(:last-child) {
    padding-bottom: 20px;
}

.heading {
    font-weight: bold;
    color: var(--col-3);
}

.red {
    color: var(--red);
}

.green {
    color: var(--col-2);
}

.yellow {
    color: var(--yellow);
}

.blue {
    color: var(--col-5);
}

.visible {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
    transition: 0.5s;
}

/* PLOTLY OVERRIDE */
.cls-1 {
    fill: var(--col-4) !important;
}

.cls-2 {
    fill: var(--col-2) !important;
}

.js-plotly-plot .plotly [data-title]::after {
    background-color: var(--col-5) !important;
}

.js-plotly-plot .plotly [data-title]::before {
    border-color: transparent transparent var(--col-5) !important;
}

.modebar-container {
    top: 65px !important;
}